<h2 class="content-block">Sistema de gestión de competencias</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <div class="actions">
            <dx-button text="Crear Competencia" (onClick)="abrirAltaCompetencia()" type="success" icon="add">
            </dx-button>
            <dx-button text="Eliminar Filtros" style="float: right;" class="pull-right" (onClick)="limpiarFiltros()"
                stylingMode="text" type="normal" icon="filter">
            </dx-button>
        </div>
        <dx-data-grid id="gridCompetencia" [dataSource]="competenciasDataSource" [remoteOperations]="true"
            [repaintChangesOnly]="true" [height]="gridCompetenciaHeight"
            (onSelectionChanged)="seleccionaItemGrid($event)" [showBorders]="true">
            <dxo-selection mode="single"></dxo-selection>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxi-column dataField="nombre" [allowFiltering]="true" caption="Nombre">
            </dxi-column>
            <dxi-column dataField="deporteId.nombre" caption="Deporte">
               
            </dxi-column>
            <dxi-column dataField="tipoCompetenciaId.nombre"  caption="Modalidad">
                
            </dxi-column>
            <dxi-column dataField="estadoCompetenciaId.nombre" [allowFiltering]="true" caption="Estado">
                
            </dxi-column>
            <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
            <dxo-paging [pageSize]="20"></dxo-paging>
        </dx-data-grid>
    </div>
</div>

<!--popup de alta de competencias-->
<dx-popup class="popup" width="600" height="auto" showTitle="true" [title]="altaCompetenciaTitulo" dragEnabled="true"
    (closeOnOutsideClick)="false" (closeOnBackButton)="false" (onHidden)="cerrarAltaCompetencia()"
    [(visible)]="popupAltaCompetencia">
    <dx-form id="formCompetencia" [(formData)]="competencia" labelLocation="top" minColWidth="200" width="100%">

        <dxi-item itemType="group" colSpan="2">
            <dxi-item dataField="nombre" readOnly="false">
                <dxo-label text="Nombre"></dxo-label>
                <dxi-validation-rule type="required" message="El campo nombre es obligatorio.">
                </dxi-validation-rule>
                <dxi-validation-rule type="stringLength" [max]="50"
                    message="El nombre no puede exceder los 50 caracteres."></dxi-validation-rule>
            </dxi-item>
        </dxi-item>

        <dxi-item itemType="group" colCount="2">
            <dxi-item itemType="group" colCount="1">
                <dxi-item dataField="deporteId" editorType="dxSelectBox"
                    [editorOptions]="{ dataSource: deporteDataSource, 
                        value: competencia?.deporteId, displayExpr: 'nombre', valueExpr: 'id', searchEnabled:true, onValueChanged: deporteChanged }">
                    <dxo-label text="Deporte"></dxo-label>
                    <dxi-validation-rule type="required" message="El campo deporte es obligatorio.">
                    </dxi-validation-rule>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" colCount="1">
                <dxi-item dataField="tipoCompetenciaId" editorType="dxSelectBox"
                    [editorOptions]="{ dataSource: tipoCompetenciaDataSource, 
                    value: competencia?.tipoCompetenciaId, displayExpr: 'nombre', valueExpr: 'id', searchEnabled:true, onValueChanged: tipoCompetenciaChanged  }">
                    <dxo-label text="Tipo de competencia"></dxo-label>
                    <dxi-validation-rule type="required" message="El campo tipo de competencia es obligatorio.">
                    </dxi-validation-rule>
                </dxi-item>
            </dxi-item>
        </dxi-item>

        <dxi-item itemType="group" colSpan="2">
            <dxi-item dataField="reglamento" editorType="dxTextArea" [editorOptions]="{ height: 100 }">
            </dxi-item>
        </dxi-item>

        <dxi-item itemType="group" colCount="2" [visible]="(tipoCompetencia == 1)">
            <dxi-item itemType="group" colCount="1">
                <dxi-item dataField="permiteEmpate" editorType="dxCheckBox"
                    [editorOptions]="{ value: competencia?.permiteEmpate, onValueChanged: permiteEmpateChanged  }">
                    <dxo-label text="Permite empate"></dxo-label>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" colCount="1" [visible]="(permiteEmpate == true)">
                <dxi-item dataField="ptosEmpate" readOnly="false">
                    <dxo-label text="Puntos por empate"></dxo-label>
                    <dxi-validation-rule type="required" message="El campo puntos por empate es obligatorio.">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="numeric" message="Debe ingresar sólo números."></dxi-validation-rule>
                </dxi-item>
            </dxi-item>
        </dxi-item>

        <dxi-item itemType="group" colCount="2" [visible]="(tipoCompetencia == 1)">
            <dxi-item itemType="group" colCount="1">
                <dxi-item dataField="ptosGanado" readOnly="false">
                    <dxo-label text="Puntos por victoria"></dxo-label>
                    <dxi-validation-rule type="required" message="El campo puntos por ganador es obligatorio.">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="numeric" message="Debe ingresar sólo números."></dxi-validation-rule>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" colCount="1">
                <dxi-item dataField="ptosPresentacion" readOnly="false">
                    <dxo-label text="Puntos por presentarse"></dxo-label>
                    <dxi-validation-rule type="required" message="El campo puntos por presentarse es obligatorio.">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="numeric" message="Debe ingresar sólo números."></dxi-validation-rule>
                </dxi-item>
            </dxi-item>
        </dxi-item>

        <dxi-item itemType="group" colCount="2">
            <dxi-item itemType="group" colCount="1">
                <dxi-item dataField="tipoPuntuacionId" editorType="dxSelectBox"
                    [editorOptions]="{ dataSource: tipoPuntuacionDataSource, 
                    value: competencia?.tipoPuntuacionId, displayExpr: 'nombre', valueExpr: 'id', searchEnabled:true, onValueChanged: tipoPuntuacionChanged }">
                    <dxo-label text="Tipo de puntuacion"></dxo-label>
                    <dxi-validation-rule type="required" message="El campo tipo de puntuacion es obligatorio.">
                    </dxi-validation-rule>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" colCount="1" [visible]="(tipoPuntuacion == 2)">
                <dxi-item dataField="ptosAusencia" readOnly="false">
                    <dxo-label text="Puntos por ausencia"></dxo-label>
                    <dxi-validation-rule type="required" message="El campo puntos por ausencia es obligatorio.">
                    </dxi-validation-rule>
                    <dxi-validation-rule type="numeric" message="Debe ingresar sólo números."></dxi-validation-rule>
                </dxi-item>
            </dxi-item>
        </dxi-item>

        <dxi-item itemType="group" colCount="2" [visible]="(tipoPuntuacion == 1)">
            <dxi-item dataField="cantidadSets" readOnly="false">
                <dxo-label text="Cantidad de sets"></dxo-label>
                <dxi-validation-rule type="required" message="El campo cantidad de sets es obligatorio.">
                </dxi-validation-rule>
                <dxi-validation-rule type="numeric" message="Debe ingresar sólo números."></dxi-validation-rule>
            </dxi-item>
        </dxi-item>

    </dx-form>
    <br>
    <div class="buttons-on-popup" style="text-align:right">
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Cerrar" type="cancel"
            alignment="right" (onClick)="cerrarAltaCompetencia()" icon="remove">
        </dx-button>
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Ver Sedes" type="cancel"
            alignment="right" (onClick)="verSedesCompetencias()" icon="search">
        </dx-button>
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Guardar" type="success"
            alignment="right" (onClick)="guardarCompetencia()" icon="save">
        </dx-button>
    </div>
</dx-popup>

<!--popup para ver las sedes de la competencia-->
<dx-popup class="popup" width="600" height="auto" showTitle="true" [title]="sedesCompetenciaTitulo" dragEnabled="false"
    (closeOnOutsideClick)="false" (closeOnBackButton)="false" (onHidden)="cerrarSedesCompetencias()"
    [(visible)]="popupSedesCompetencia">

    <dx-data-grid id="gridContainer" [dataSource]="sedesCompetencia" [remoteOperations]="true"
        [repaintChangesOnly]="true" [height]="gridSedesCompetenciaHeight" [showBorders]="true">
        <dxo-selection mode="single"></dxo-selection>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxi-column dataField="sedesId" [allowFiltering]="true" caption="Sede">
            <dxo-lookup [dataSource]="sedesDataSource" displayExpr="nombre" valueExpr="id"></dxo-lookup>
        </dxi-column>
        <dxi-column dataField="disponibilidad" [allowFiltering]="true" caption="Disponibilidad">
        </dxi-column>
        <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
        <dxo-paging [pageSize]="20"></dxo-paging>
    </dx-data-grid>

    <div class="buttons-on-popup" style="text-align:right">
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Cerrar" type="cancel"
            alignment="right" (onClick)="cerrarSedesCompetencias()" icon="remove">
        </dx-button>
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Agregar Sede"
            type="cancel" alignment="right" (onClick)="agregarSedes()" icon="add">
        </dx-button>
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Guardar" type="success"
            alignment="right" (onClick)="guardarSedesCompetencia()" icon="save">
        </dx-button>
    </div>
</dx-popup>

<!--popup para añadir una sedeCompetencia a la lista de sedes de la competencia => se invoca desde popup de sedes competencia-->
<dx-popup class="popup" width="600" height="auto" showTitle="true" [title]="agregarSedesTitulo" dragEnabled="false"
    (closeOnOutsideClick)="false" (closeOnBackButton)="false" (onHidden)="cerrarAgregarSedes()"
    [(visible)]="popupAgregarSedes">

    <dx-form #formSedeCompetencia [(formData)]="sedeCompetencia" labelLocation="top" minColWidth="200" width="100%">
        <dxi-item itemType="group" colCount="2">
            <dxi-item dataField="sedesId" editorType="dxSelectBox" [editorOptions]="{ dataSource: sedesDataSource, 
                    value: sedeCompetencia?.sedesId, displayExpr: 'nombre', 
                    valueExpr: 'id', searchEnabled:true, 
                    onValueChanged: sedeChanged }">
                <dxo-label text="Sede"></dxo-label>
                <dxi-validation-rule type="required" message="El campo sede es obligatorio.">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="disponibilidad" readOnly="false">
                <dxo-label text="Cantidad de fechas disponibles"></dxo-label>
                <dxi-validation-rule type="required" message="El campo fechas disponibles es obligatorio.">
                </dxi-validation-rule>
                <dxi-validation-rule type="numeric" message="Debe ingresar sólo números."></dxi-validation-rule>
            </dxi-item>
        </dxi-item>
    </dx-form>

    <div class="buttons-on-popup" style="text-align:right">
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Cancelar" type="cancel"
            alignment="right" (onClick)="cerrarAgregarSedes()" icon="remove">
        </dx-button>
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Guardar" type="success"
            alignment="right" (onClick)="guardarSedes()" icon="save">
        </dx-button>
    </div>
</dx-popup>

<!--popup de ver competencias-->
<dx-popup class="popup" width="700" height="auto" showTitle="true" [title]="verCompetenciaTitulo" dragEnabled="false"
    (closeOnOutsideClick)="false" (closeOnBackButton)="false" (onHidden)="cerrarVerCompetencia()"
    [(visible)]="verCompetenciaPopup">

    <div>
        <span><b>Nombre:</b> {{competencia.nombre}}</span>
        <br>
        <br>
        <span><b>Modalidad:</b> {{competencia?.tipoCompetenciaId?.nombre}}</span>
        <br>
        <br>
        <span><b>Deporte:</b> {{competencia?.deporteId?.nombre}}</span>
        <br>
        <br>
        <span><b>Estado:</b> {{competencia?.estadoCompetenciaId?.nombre}}</span>
        <br>
        <br>
        <span><b>Participantes:</b> {{cantidadParticipantes}}</span>
        <br>
        <br>
        <span><b>Proximos eventos:</b> {{proximosEncuentros}}</span>
        <br>
        <br>
    </div>

    <div class="buttons-on-popup" style="text-align:right">
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Cerrar" type="cancel"
            alignment="right" (onClick)="cerrarVerCompetencia()" icon="remove">
        </dx-button>
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Modificar" type="cancel"
            alignment="right">
        </dx-button>
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Eliminar" type="cancel"
            alignment="right">
        </dx-button>
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Mostrar Fixture" type="cancel"
            alignment="right">
        </dx-button>
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Tabla de Posiciones" type="cancel"
            alignment="right">
        </dx-button>
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Generar Fixture"
            type="cancel" alignment="right" (onClick)="generarFixture()" icon="add">
        </dx-button>
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Ver Participantes"
            type="cancel" alignment="right" (onClick)="verParticipantes()" icon="user">
        </dx-button>
    </div>
</dx-popup>

<!--popup para ver la lista de participantes-->
<dx-popup class="popup" width="600" height="auto" showTitle="true" [title]="verParticipantesTitulo" dragEnabled="false"
    (closeOnOutsideClick)="false" (closeOnBackButton)="false" (onHidden)="cerrarVerParticipantes()"
    [(visible)]="popupVerParticipantes">

    <dx-data-grid id="gridParticipantes" [dataSource]="participantesCompetencia" [remoteOperations]="true"
        [repaintChangesOnly]="true" [height]="gridParticipantesHeight" [showBorders]="true">
        <dxo-selection mode="single"></dxo-selection>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxi-column dataField="nombre" [allowFiltering]="true" caption="Nombre">
        </dxi-column>
        <dxi-column dataField="email" [allowFiltering]="true" caption="E-Mail">
        </dxi-column>
        <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
        <dxo-paging [pageSize]="20"></dxo-paging>
    </dx-data-grid>

    <div class="buttons-on-popup" style="text-align:right">
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Cerrar" type="cancel"
            alignment="right" (onClick)="cerrarVerParticipantes()" icon="remove">
        </dx-button>
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Agregar Participante"
            type="cancel" alignment="right" (onClick)="agregarParticipante()" icon="add">
        </dx-button>
    </div>
</dx-popup>

<!--popup para añadir un participante a la lista de participantes de la competencia => se invoca desde popup de lista de participantes-->
<dx-popup class="popup" width="600" height="auto" showTitle="true" [title]="agregarParticipanteTitulo"
    dragEnabled="false" (closeOnOutsideClick)="false" (closeOnBackButton)="false"
    (onHidden)="cerrarAgregarParticipante()" [(visible)]="popupAgregarParticipante">

    <dx-form id="formParticipante" [(formData)]="participante" labelLocation="top" minColWidth="200" width="100%">
        <dxi-item itemType="group" colCount="2">
            <dxi-item dataField="nombre" readOnly="false">
                <dxo-label text="Nombre del Equipo/Participante"></dxo-label>
                <dxi-validation-rule type="required" message="El campo nombre es obligatorio.">
                </dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="email" readOnly="false">
                <dxo-label text="E-Mail de contacto"></dxo-label>
                <dxi-validation-rule type="required" message="El campo E-Mail es obligatorio.">
                </dxi-validation-rule>
                <dxi-validation-rule type="email" message="Debe ingresar un formato de email válido.">
                </dxi-validation-rule>
            </dxi-item>
        </dxi-item>
    </dx-form>

    <div class="buttons-on-popup" style="text-align:right;margin-top:10px;">
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Cancelar" type="cancel"
            alignment="right" (onClick)="cerrarAgregarParticipante()" icon="remove">
        </dx-button>
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Guardar" type="success"
            alignment="right" (onClick)="guardarParticipante()" icon="save">
        </dx-button>
    </div>
</dx-popup>