<h2 class="content-block">Alta Competencia</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <dx-form id="form" [(formData)]="competencia" labelLocation="top" minColWidth="200" width="100%">

            <dxi-item itemType="group" colSpan="2">
                <dxi-item dataField="nombre" readOnly="false">
                    <dxo-label text="Nombre"></dxo-label>
                    <dxi-validation-rule type="required" message="El campo nombre es obligatorio.">
                    </dxi-validation-rule>
                </dxi-item>
            </dxi-item>

            <dxi-item itemType="group" colCount="2">
                <dxi-item itemType="group" colCount="1">
                    <dxi-item dataField="deporteId" editorType="dxSelectBox"
                        [editorOptions]="{ dataSource: deporteDataSource, 
                            value: competencia?.deporteId, displayExpr: 'nombre', valueExpr: 'id', searchEnabled:true, onValueChanged: deporteChanged }">
                        <dxo-label text="Deporte"></dxo-label>
                        <dxi-validation-rule type="required" message="El campo deporte es obligatorio.">
                        </dxi-validation-rule>
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group" colCount="1">
                    <dxi-item dataField="tipoCompetenciaId" editorType="dxSelectBox"
                        [editorOptions]="{ dataSource: tipoCompetenciaDataSource, 
                        value: competencia?.tipoCompetenciaId, displayExpr: 'nombre', valueExpr: 'id', searchEnabled:true, onValueChanged: tipoCompetenciaChanged  }">
                        <dxo-label text="Tipo de competencia"></dxo-label>
                        <dxi-validation-rule type="required" message="El campo tipo de competencia es obligatorio.">
                        </dxi-validation-rule>
                    </dxi-item>
                </dxi-item>
            </dxi-item>

            <dxi-item itemType="group" colSpan="2">
                <dxi-item dataField="reglamento" editorType="dxTextArea" [editorOptions]="{ height: 100 }">
                </dxi-item>
            </dxi-item>

            <dxi-item itemType="group" colCount="2" [visible]="(tipoCompetencia == 1)">
                <dxi-item itemType="group" colCount="1">
                    <dxi-item dataField="permiteEmpate" editorType="dxCheckBox"
                        [editorOptions]="{ value: competencia?.permiteEmpate, onValueChanged: permiteEmpateChanged  }">
                        <dxo-label text="Permite empate"></dxo-label>
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group" colCount="1" [visible]="(permiteEmpate == true)">
                    <dxi-item dataField="ptosEmpate" readOnly="false">
                        <dxo-label text="Puntos por empate"></dxo-label>
                        <dxi-validation-rule type="required" message="El campo puntos por empate es obligatorio.">
                        </dxi-validation-rule>
                    </dxi-item>
                </dxi-item>
            </dxi-item>

            <dxi-item itemType="group" colCount="2" [visible]="(tipoCompetencia == 1)">
                <dxi-item itemType="group" colCount="1">
                    <dxi-item dataField="ptosGanado" readOnly="false">
                        <dxo-label text="Puntos por ganador"></dxo-label>
                        <dxi-validation-rule type="required" message="El campo puntos por ganador es obligatorio.">
                        </dxi-validation-rule>
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group" colCount="1">
                    <dxi-item dataField="ptosPresentacion" readOnly="false">
                        <dxo-label text="Puntos por presentarse"></dxo-label>
                        <dxi-validation-rule type="required" message="El campo puntos por presentarse es obligatorio.">
                        </dxi-validation-rule>
                    </dxi-item>
                </dxi-item>
            </dxi-item>

            <dxi-item itemType="group" colCount="2">
                <dxi-item itemType="group" colCount="1">
                    <dxi-item dataField="tipoPuntuacionId" editorType="dxSelectBox"
                        [editorOptions]="{ dataSource: tipoPuntuacionDataSource, 
                        value: competencia?.tipoPuntuacionId, displayExpr: 'nombre', valueExpr: 'id', searchEnabled:true, onValueChanged: tipoPuntuacionChanged }">
                        <dxo-label text="Tipo de puntuacion"></dxo-label>
                        <dxi-validation-rule type="required" message="El campo tipo de puntuacion es obligatorio.">
                        </dxi-validation-rule>
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group" colCount="1" [visible]="(tipoPuntuacion == 2)">
                    <dxi-item dataField="ptosAusencia" readOnly="false">
                        <dxo-label text="Puntos por ausencia"></dxo-label>
                        <dxi-validation-rule type="required" message="El campo puntos por ausencia es obligatorio.">
                        </dxi-validation-rule>
                    </dxi-item>
                </dxi-item>
            </dxi-item>

            <dxi-item itemType="group" colCount="2" [visible]="(tipoPuntuacion == 2)">
                <dxi-item dataField="cantidadSets" readOnly="false">
                    <dxo-label text="Cantidad de sets"></dxo-label>
                    <dxi-validation-rule type="required" message="El campo cantidad de sets es obligatorio.">
                    </dxi-validation-rule>
                </dxi-item>
            </dxi-item>

        </dx-form>

        <br>
        <div class="buttons-on-popup" style="text-align:right">
            <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Ver Sedes"
                type="cancel" alignment="right" (onClick)="verSedesCompetencias()" icon="search">
            </dx-button>
            <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Guardar"
                type="success" alignment="right" (onClick)="guardar()" icon="save">
            </dx-button>
        </div>
    </div>
</div>

<dx-popup class="popup" width="600" height="auto" showTitle="true" [title]="sedesCompetenciaTitulo" dragEnabled="false"
    (closeOnOutsideClick)="false" (closeOnBackButton)="false" (onHidden)="cerrarSedesCompetencias()"
    [(visible)]="popupSedesCompetencia">

    <dx-data-grid id="gridContainer" [dataSource]="gridSedes" [remoteOperations]="true" [repaintChangesOnly]="true"
        [height]="gridHeight" [showBorders]="true">
        <dxo-selection mode="single"></dxo-selection>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxi-column dataField="sede.nombre" [allowFiltering]="true" caption="Sede">
        </dxi-column>
        <dxi-column dataField="disponibilidad" [allowFiltering]="true" caption="Fechas">
        </dxi-column>
        <dxo-scrolling mode="virtual" rowRenderingMode="virtual"></dxo-scrolling>
        <dxo-paging [pageSize]="20"></dxo-paging>
    </dx-data-grid>

    <div class="buttons-on-popup" style="text-align:right">
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Cerrar" type="cancel"
            alignment="right" (onClick)="cerrarSedesCompetencias()" icon="remove">
        </dx-button>
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Agregar Sede" type="cancel"
            alignment="right" (onClick)="agregarSedes()" icon="add">
        </dx-button>
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Guardar" type="success"
            alignment="right" (onClick)="guardarSedesCompetencia()" icon="save">
        </dx-button>
    </div>
</dx-popup>

<dx-popup class="popup" width="600" height="auto" showTitle="true" [title]="agregarSedesTitulo" dragEnabled="false"
    (closeOnOutsideClick)="false" (closeOnBackButton)="false" (onHidden)="cerrarAgregarSedes()"
    [(visible)]="popupAgregarSedes">

    <dx-form id="form" [(formData)]="sedeCompetencia" labelLocation="top" minColWidth="200" width="100%">
        <dxi-item itemType="group" colCount="2">
           
                <dxi-item dataField="sedesId" editorType="dxSelectBox"
                    [editorOptions]="{ dataSource: sedesDataSource, 
                    value: competencia?.deporteId, displayExpr: 'nombre', 
                    valueExpr: 'id', searchEnabled:true, 
                    onValueChanged: sedeChanged }">
                    <dxo-label text="Sede"></dxo-label>
                    <dxi-validation-rule type="required" message="El campo sede es obligatorio.">
                    </dxi-validation-rule>
                </dxi-item>
           
            <dxi-item dataField="disponibilidad" readOnly="false">
                <dxo-label text="Cantidad de fechas disponibles"></dxo-label>
                <dxi-validation-rule type="required" message="El campo fechas disponibles es obligatorio.">
                </dxi-validation-rule>
            </dxi-item>

        </dxi-item>
    </dx-form>

    <div class="buttons-on-popup" style="text-align:right">
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Cancelar" type="cancel"
            alignment="right" (onClick)="cerrarAgregarSedes()" icon="remove">
        </dx-button>
        <dx-button class="button-popup white-text green-button" style="margin-left:5px" text="Guardar" type="success"
            alignment="right" (onClick)="guardarSedes()" icon="save">
        </dx-button>
    </div>
</dx-popup>